@import url('style.css');

/* 헤더--------------------------------- */
#main-header {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: transparent;
    border-bottom: .5px solid #fff;
    color: #fff;
    padding: 0 20px;
    z-index: 10;
    transition: .5s;
}
#main-header.on {
    transition: .5s;
    background-color: #fff;
}
    /* logo */
#main-header .logo {
    position: relative;
    width: 155px;
    height: 35px;
}
#main-header .logo img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100px;
}
#main-header .logo img:first-child {
    /* display: none; */
}
.logoOn {
    display: none;
}
    /* #header-nav (메뉴누르면 나와야함) */
#main-header #header-nav {
    display: none;
}

    /* .util-menu */
.util-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}
    /* Intranet - btn*/
#intranet {
    display: none;
    align-items: center;
    width: 100px;
    height: 35px;
    padding: 0 20px;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
}
#intranet.on {
    display: flex;
    border: 1px solid #000;
    color: #000;
}
#intranet .bi-laptop {
    font-size: 20px;
}
#intranet p {
    font-size: 10px;
    margin-left: 10px;
}

    /* toggle-menu-btn */
#toggle-menu-btn {
    cursor: pointer;
    position: relative;
    /* outline: 2px solid red; */
    font-size: 50px;
    width: 50px;
    height: 80px;
    color: #fff;
}
#toggle-menu-btn.on {
    color: #000;
}
#toggle-menu-btn .bi-list {
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}
#toggle-menu-btn .bi-list.change {
    transition: .5s;
    display: none;
}
#toggle-menu-btn .bi-x-circle {
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}
#toggle-menu-btn .bi-x-circle.change {
    transition: .5s;
    display: none;
}

    /* 모바일 토글메뉴 */
#mobile-toggle-menu {
    position: fixed;
    top: 70px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: #fff;
    color: #000;
    transform: translateX(100%);
    transition: .5s;
    padding-left: 20px;
}    
#mobile-toggle-menu.on {
    transform: translateX(0);
    transition: .5s;
}
#mobile-toggle-menu .gnb {

}
#mobile-toggle-menu .gnb > li {
    width: 100%;
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: 700;
    font-size: 1.5em;
}
#mobile-toggle-menu .gnb > li > a {
    width: 100%;
    height: 70px;
    line-height: 70px;
    display: block;
}
#mobile-toggle-menu .gnb > li > #plus {
    position: absolute;
    right: 0;
    top: 17px;
    padding-right: 20px;
    font-size: 1.5em;
    color: #ff8b00;
}
#mobile-toggle-menu .gnb > li > .sub {
    font-weight: 400;
    font-size: .7em;
    width: 100%;
    margin-top: 0;
    display: none;
}
#mobile-toggle-menu .gnb > li > .sub > li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    /* outline: 1px solid blue; */
}
#mobile-toggle-menu .gnb > li > .sub > li > a {
    width: 100%;
    height: 100%;
    display: block;
}




/* main-visual */
#main-visual {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#main-visual .slider {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}
#main-visual .slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
#main-visual .slider img:not(:first-child) {
    display: none;
}
#main-visual article {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
#main-visual article:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#main-visual article > h1{
    z-index: 1;
    font-size: 1.5em;
}
#main-visual article > h4 {
    z-index: 1;
    margin-top: 20px;
    font-size: .5em;
}


/* humans */
#humans {
    width: 100vw;
    height: 30vh;
    position: relative;
    background-image: url('images/history-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#humans .slider-wrap {
    width: 80%;
    height: 100%;
}
#humans .slider-wrap .cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
#humans .slider-wrap .cont img {
    width: 90%;
    /* height: 90%; */
    display: block;
}
#humans .humans-list {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#humans .humans-list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
}
#humans .humans-list ul > li{
    font-weight: 300;
    font-size: .2em;
}
#humans .humans-list ul > li > h2{
    font-size: 1em;
}
#humans .humans-list ul > li:hover,
#humans .humans-list ul > li.on {
    color: var(--main-color);
    transition: .5s;
}
#humans .humans-title {
    position: absolute;
    bottom: 10%;
    left: 20px;
    color: #fff;
    font-size: 1em;
}
#humans .humans-title hr {
    border-color: var(--main-color);
}


/* notice */
#notice {
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    font-size: .5em;
}
#notice > div {
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
}
#notice > div .notice-bg {
    background-image: url('images/boardImage02.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
#notice > div:last-child .notice-bg{
    background-image: url('images/boardImage03.png');
}
#notice div a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    color: #fff;
    padding: 3vh 0;
}
#notice div a img {
    width: 30px;
    margin: 0 auto;
}
#notice div:hover a .notice-bg {
    transform: scale(1.3);
    transition: .5s;
}
#notice div:hover a .notice-title{
    color: var(--main-color);
}




/* footer */
footer {
    width: 100%;
    height: 250px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    font-size: .5em;
}
footer #footer-info .footer-menu {
    display: flex;
}
footer #footer-info .footer-menu li {
    margin-right: 10px;
}

footer #footer-info .footer-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
footer #footer-info .footer-info li {
    color: #ccc;
}
footer #footer-info .footer-info li:not(:last-child, :nth-child(2))::after {
    content: "|";
    display: inline-block;
    width: 4px;
    width: 4px;
    height: 4px;
    margin: 0px 11px 0;
    transform: translateY(-3px);
}
footer #footer-info .copy {
    margin-top: 30px;
    color: #ccc;
}
footer #footer-sns {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}
footer #footer-sns .footer-sns a{
    margin-right: 20px;
}
footer .footer-logo img{
    width: 100px;
    margin-bottom: 20px;
}